button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: lightblue;
    border: none;
    cursor: pointer;
}
button.clicked {
    background-color: rgb(211, 48, 216);
}
body {
    background-image: url(https://wallpaperaccess.com/full/2416021.jpg);
    text-align:center;
    padding: 10cm;
 }